<input type="text" class="form-control" placeholder="Write here" aria-label="Recipient's username" aria-describedby="basic-addon2">
<div class="input-group-append">
  <button class="btn btn-outline-secondary" type="button">Search</button>
</div>

<!-- <span class="fas fa-volume-up"></span> -->

<div>
  <tabset class="tabset">
    <tab class="tab" heading="Meaning ">Meaning</tab>
    <tab class="tab" heading="Synonyms">Synonyms</tab>
    <tab class="tab" heading="Definition">Definition</tab>
    <tab class="tab" heading="Audio">Audio</tab>
  </tabset>
</div>
